body{
    font-family: Arial, sans-serif;
}
.game-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 56px)
}

.control-panel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35vw;
    height: 35px;
    max-width: 400px;
    min-width: 300px;
    /*margin-top: 50px;*/
}

.game-board{
    width: 35vw;
    height: 35vw;
    max-width: 400px;
    max-height: 400px;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-cell{
    /*border: steelblue solid 2px;*/
    width: 100%;
    height: 100%;
    min-width: 65px;
    min-height: 65px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.game-row{
    width: 100%;
    height: 33.333%;
    display: flex;
    box-sizing: border-box;
}

.game-row-middle{
    border-top: #818c96 solid 2px;
    border-bottom: #818c96 solid 2px;
}

.game-cell-middle{
    border-left: #818c96 solid 2px;
    border-right: #818c96 solid 2px;
}

.button-start{
    width: 40%;
    height: 40px;
    background-color: #00b812;
    color: white;
    border-radius: 7px;
    border: #00b812;
}
.button-reset{
    width: 20%;
    height: 30px;
    background-color: white;
    border:white;
    color: #5f686e;
    font-size: .9em;
}

.toaster{
    width: 90vw;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    color: #5f686e;
    /*margin-bottom: 100px;*/
}